*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    height: 100%;      /* propiedad que permite que el contenido ocupe la altura de la pantalla del dispositovo donde se visualiza */ 


}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}


.navbar{
    background-color: blue;
    color: white;
    width: 100%;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-content: space-around;
}

.title-blog{
    width: 60%;


}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2%;
    margin-top: 15px;
}

.menu-element{
    display: flex;
    width: 40%;
    

}

ul {
   
    padding: 0;
   list-style-type: none;
    
    
     
}

li{
   
    margin-left: 3px;
    display: inline;
    
}

li a{
    color: white;
}

li a:hover{
    background-color: white;
    color: rgba(68, 68, 185, 0.712);
}

li a:active{
    background-color: white;
    color: rgba(68, 68, 185, 0.712);
}

li a:visited{
    background-color: white;
    color: rgba(68, 68, 185, 0.712);
}


.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

.topics-title{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
   
}

.card{
    width: 30%;
    border-radius: 5px;
    border: solid 1px blue;
    margin-left: 2%;
}

.card-title{
    color: blue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-card-container{
    text-align: center;
}
.img-card{
    width: 40%;

}

.card-description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 2%;
}

.card-description:hover{
    color: rgb(61, 91, 162);
    font-weight: bold;

}

.container-card-button{
    display: flex;
    justify-content: center;
}

button{
    width: 30%;
    height: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
    border-radius: 5px;
}



footer{
    display: flex;
    background-color: blue;
    color: white;
    text-align: center;
    height: 40px;
    font-size: 12px;
    justify-content: center;
    margin-top: 10px;
}
